.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: #34495e;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin-left: 0.2rem;
}

.logopart {
    display: flex;

}


#logo {
    margin: auto;
    padding: 5px;
    height: max-content;
}

#signature {
    border-left: 2px solid whitesmoke;
    text-align: justify;
    padding-left: 2px;
    margin: auto;
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: white;
    text-shadow: 1px -.5px 1px white;
}


.btn {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.btn:hover {
    background-color: #2642af;
}

@media screen and (max-width: 550px) {
    .btn {
        display: block;
    }

    .navigation-menu ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #34495e;
        border-top: 1px solid black;
        display: none;
    }

    .navigation-menu li {
        text-align: center;
        margin: 0;
    }

    .navigation-menu li a {
        color: white;
        width: 100%;
        padding: 1.5rem 0;
    }

    .navigation-menu li:hover {
        background-color: #eee;
    }

    .navigation-menu.expanded ul {
        display: block;
    }
}